<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
        <a href='@Url.Action("Index")'><button class="Botones">Pagina principal</button></a>
        <a href='@Url.Action("Tutorial")'><button class="Botones">Tutorial</button></a>
        <a href='@Url.Action("Comenzar")'><button class="Botones">Inicio del Juego</button></a>
        </nav>
    </header>
    <h1>Matias Aboudara</h1>
    <h3>Rol: Programador de Objetos</h3>
    <h5>Programador nato, rey de reyes
        el unico que paso las nacionales de OIA
        Si alguien va a confiar la vida en alguien, es él</h5>
    <img src="/Fotos/Foto_Abou.jpg">
</body>
<footer><a>href="Index.cshtml"</a></footer>
</html>