<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitacion 1</title>
</head>

<body>
    <center>
        <header>
            <nav>
                <a href='@Url.Action("Index")'><button id="botonesJuego">Pagina principal</button></a>
                <a href='@Url.Action("Creditos")'><button id="botonesJuego">Creditos</button></a>
            </nav>
            <audio src="/Audio/Musica_terror.mp3" autoplay="autoplay" loop="loop"></audio>
        </header>
        <iframe width="560" height="315"
            src="https://www.youtube.com/embed/WTC9VFL27zc?clip=UgkxaTxxC8xEqzL7mc3L_pHYcYmR0LfetivH&amp;clipt=EMqdDxi2jBI"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <form action='@Url.Action("Habitacion")'>
            <input type="hidden" name="sala" value="1" />
            <p>
                Elija la opcion:
                <input type="radio" name="clave" value="1"> Puerta 1
                <input type="radio" name="clave" value="2"> Puerta 2
                <input type="radio" name="clave" value="3"> Puerta 3
            </p>
            <input type="submit">
        </form>
        <p class="Error">@ViewBag.Error</p>
        <button class="Pistas" id="Pista_1" onclick="alert('Pista 1: Ten en cuenta las condiciones del clima'); enable('Pista_2')"> Pista 1 </button>
        <button class="Pistas" id="Pista_2" onclick="alert('Pista 2: No es luna llena'); enable('Pista_3')" disabled> Pista 2 </button>
        <button class="Pistas" id="Pista_3" onclick="alert('Pista 3: La puerta 1 no es')" disabled> Pista 3 </button>
    </center>
</body>

</html>