<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
        <a href='@Url.Action("Index")'><button id="botonesJuego">Pagina principal</button></a>
        <a href='@Url.Action("Creditos")'><button id="botonesJuego">Creditos</button></a>
        </nav>
    </header>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WTC9VFL27zc?clip=UgkxaTxxC8xEqzL7mc3L_pHYcYmR0LfetivH&amp;clipt=EMqdDxi2jBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <form>
        <p> 
            Elige la opcion:
            <input type="radio" name="Opcion" value="1"> Puerta 1
            <input type="radio" name="Opcion" value="2"> Puerta 2
            <input type="radio" name="Opcion" value="3"> Puerta 3
        </p>
    </form>
    <button id="Pistas" onclick="alert('Pista 1: ...')"> Pista 1 </button>
<button id="Pistas" onclick="alert('Pista 2: ...')"> Pista 2 </button>
<button id="Pistas" onclick="alert('Pista 3: ...')"> Pista 3 </button>
</body>
</html>