<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
        <a href='@Url.Action("Index")'><button class="Botones">Pagina principal</button></a>
        <a href='@Url.Action("Tutorial")'><button class="Botones">Tutorial</button></a>
        <a href='@Url.Action("Creditos")'><button class="Botones">Creditos</button></a>
        </nav>
    </header>
    <p>
    Ambrosius lucía siempre unos zapatos prácticos. Es cierto que no destacaban por su belleza, 
    pero se ajustaban bien y eran resistentes del tal modo que casi nunca notaba que los llevaba puestos.
    En realidad, jamás se los quitaba (ni para dormir por la noche), hasta que literalmente no cabía en ellos. 
    Y aun así, su siguiente par siempre se asemejaba al anterior. 
    Aunque, para ser sinceros, Ambrosius no les dedicaba muchos pensamientos.
    ¿Quien es Ambrosius?
    </p>
</body>
</html>