<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <header>
            <nav>
                <a href='@Url.Action("Index")'><button id="botonesJuego">Pagina principal</button></a>
                <a href='@Url.Action("Creditos")'><button id="botonesJuego">Creditos</button></a>
            </nav>
            <audio src="/Audio/Musica_terror.mp3" autoplay="autoplay" loop="loop"></audio>
        </header>
        <h1>Habitacion 1 - Matematicas</h1>
        <p>
        En esta habitacion tendras que resolver ecuaciones mediante los datos que te vamos 
            proporcionando. ¡Suerte! La necesitaras...
        </p>
        <img src="/Fotos/Acertijo_1.jpg">
        <form action='@Url.Action("Habitacion")'>
            <input type="hidden" name="sala" value="1" />
            <input type="number" placeholder="Enviar respuesta" name="clave">
            <input type="submit">
        </form>
        <p>@ViewBag.Error</p>
        <div>
            <button class="Pistas" id="Pista_1" onclick="alert('Pista 1: Corona = 8'); enable('Pista_2')"> Pista 1
            </button>
            <button class="Pistas" id="Pista_2"
                onclick="alert('Pista 2: Castillo - Corona = Sobrero de Bruja'); enable('Pista_3')" disabled> Pista 2
            </button>
            <button class="Pistas" id="Pista_3" onclick="alert('Pista 3: Castillo = 64')" disabled> Pista 3 </button>
        </div>
    </center>
</body>

</html>