<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitacion 3</title>
</head>

<body>
    <center>
        <header>
            <audio src="Musica_terror.mp3" autoplay="autoplay" loop="loop"></audio>
            <nav>
                <a href='@Url.Action("Index")'><button id="botonesJuego">Pagina principal</button></a>
                <a href='@Url.Action("Creditos")'><button id="botonesJuego">Creditos</button></a>
            </nav>
            <audio src="/Audio/Musica_terror.mp3" autoplay="autoplay" loop="loop"></audio>
        </header>
        <img src="/Fotos/Acertijo_3.jpg">
        <form action='@Url.Action("Habitacion")'>
            <input type="hidden" name="sala" value="3" />
            <p>
                Elige el camino:
                <input type="radio" name="clave" value="1"> 1
                <input type="radio" name="clave" value="2"> 2
                <input type="radio" name="clave" value="3"> 3
            </p>
            <input type="submit">
        </form>
        <p class="Error">@ViewBag.Error</p>
        <button class="Pistas" id="Pista_1" onclick="alert('Pista 1: Los caminos tienen que ser rectos'); enable('Pista_2')"> Pista 1 </button>
        <button class="Pistas" id="Pista_2" onclick="alert('Pista 2: Significa que no se puede doblar de direccion en 180 grados'); enable('Pista_3')" disabled> Pista 2</button>
        <button class="Pistas" id="Pista_3" onclick="alert('Pista 3: El 1 no es')" disabled> Pista 3 </button>
    </center>
</body>
</html>