<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
        <a href='@Url.Action("Index")'><button class="Botones">Pagina principal</button></a>
        <a href='@Url.Action("Tutorial")'><button class="Botones">Tutorial</button></a>
        <a href='@Url.Action("Creditos")'><button class="Botones">Creditos</button></a>
        </nav>
    </header>
<h1>Habitacion 1 - titulo del juego</h1>
<p>En esta habitacion...</p>
<iframe width="795" height="690" frameborder="0" src="https://es.educaplay.com/juego/15138759-sopa_del_castillo_encantado.html"></iframe>
</body>
</html>