@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Esta es nuestra sala de escape</p>
</div>
<h2>Nosotros somos Escape Masters</h2>
<h3>"Escapa de la rutina, entra en nuestra sala"</h3>
<img src="/Fotos/Foto_Empresa.png">
