@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <audio src="/Audio/Musica_terror.mp3" autoplay="autoplay" loop="loop"></audio>
    <div class="text-center">
        <h2>Nosotros somos Escape Masters</h2>
        <h3>"Escapá de la rutina, entrá en nuestra sala"</h3>
        <img src="/Fotos/Logo.png">
    </div>
    <center>
    <img src="/Fotos/Imagen_1.jpg" width="450px" height="250px">
    <img src="/Fotos/Imagen_2.jpg" width="200px" height="250px">
    
    <img src="/Fotos/Imagen_3.jpg" width="450px" height="250px">
    </center>
    <div>
        <a href='@Url.Action("Tutorial")'><button id="Botones">Tutorial</button></a>
        <a href='@Url.Action("Comenzar")'><button id="BotonCentral">Inicio del Juego</button></a>
        <a href='@Url.Action("Creditos")'><button id="Botones">Créditos</button></a>
    </div>
</body>

</html>

