@{
    ViewData["Title"] = "Home Page";
}

<body >
    <div class="text-center">
        <h2>Nosotros somos Escape Masters</h2>
        <h3>"Escapa de la rutina, entra en nuestra sala"</h3>
        <img src="/Fotos/Foto_Empresa.png">
    </div>
</body>
<ul>
    <li></li>
    <li></li>
    <li></li>
</ul>
