<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
</head>

<body>
    <header>
        <nav>
            <a href='@Url.Action("Index")'><button class="Botones">Pagina principal</button></a>
            <a href='@Url.Action("Comenzar")'><button class="Botones">Jugar</button></a>
            <a href='@Url.Action("Creditos")'><button class="Botones">Creditos</button></a>
        </nav>
    </header>
    <h1>
        Tutorial:
    </h1>
    <div>
        <h3>
            ¡Bienvenido!
        </h3>
        <h5>
            Al entrar en cada sala tendras una breve descripcion de cada enigma
            Tambien tendras 3 pistas, cada una de estas se desbloquea despues de que uses la primera
            Ten en cuenta los enunciados para la resolucion de los acertijos
            ¡Suerte!
        </h5>
    </div>
    <footer>
        <center>
            <img style="margin-top: 3%;" src="/Fotos/Suerte.jpg">
        </center>
    </footer>
</body>

</html>
