<h1>
Tutorial:
</h1>
<div>
<h4
>
Para jugar esta sala de escape tienes que estar atento a los pequeños detalles
</h4
>
<h4
>
Tambien tener en cuenta que en el caso de no poder resolver una sala, hay pistas para ayudar
</h4
>
</div>
<footer>
<img src="/Fotos/Suerte.jpg">
</footer>