<h1>
    Tutorial:
</h1>
<div>
    <h4>
        Para jugar esta sala de escape tienes que estar atento a los pequeños detalles
    </h4>
    <h4>
        Tambien tener en cuenta que en el caso de no poder resolver una sala, hay pistas para ayudar
        La temática del bosque en una sala de escape puede 
        proporcionar una experiencia emocionante y desafiante 
        para los jugadores, al mismo tiempo que les permite 
        disfrutar de la naturaleza y aprender sobre 
        la importancia de la conservación de los bosques en el mundo real.
    </h4>
</div>
<footer>
    <img src="/Fotos/Suerte.jpg">
    <a href="Index.cshtml"></a>
</footer>