html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #838383;
  color: rgb(241, 241, 241);
}
section > img{
  width: 20%;
  height: 30%;
}
div > .botones{
  justify-content: center;
  text-align: center;
  width: 3%;
  height: auto;
  border-radius: 10px;
}