html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
div > img{
  width: 20%;
  height: 20%;
}

body {
  margin-bottom: 60px;
  background-color: #838383;
  color: rgb(241, 241, 241);
}
section > img{
  width: 20%;
  height: 30%;
}
#botonesJuego, #Botones{
  width: 27%;
  height: 60px;
  border-radius: 40px;
  background-color: #cacaca;
  transition-duration: 0.5s;
}
button, #botonesJuego{
  margin: 2%;
  justify-content: center;
  text-align: center;
}
button:hover, #botonesJuego:hover, #Botones:hover{
  background-color: white;
}
#botonesJuego{
  width: 45%;
}

#Botones{
  margin: 9.8%;
  width: 10%;
}

#BotonCentral{
  margin: 10%;
  justify-content: center;
  text-align: center;
  width: 20%;
  height: 100px;
  border-radius: 10px;
  background-color: #cacaca;
  color: black;
  transition-duration: 0.5s;
}
#BotonCentral:hover{
  background-color: rgb(43, 43, 43);
  color: white;
  transform: scale3d(1.1, 1.1, 1.1);
  border-color: rgb(43, 43, 43);
}

#pistas {
  float: left;
}